<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Benim İçin Ne Dedi.</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    X firmasında Melih ile çalışma fırsatı buldum. Kendisi verilen tüm görevleri gayretli ve azimli bir şekilde yapmaya çalıştı ve Gömülü Yazılım alanında kendisini geliştirdi.
                </p>
                <div class="testimonials__author h06">
                    Dr. ...... ......
                    <span>X Firması - Kurucu Ortak</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    X firmasında Melih'in staj sorumlusuydum. Bu süreçte kendisiyle Embedded Linux, Haberleşme Protokolleri, Mikrodenetleyici Kontrolü gibi alanlarda çalışmalar yaptık. Bu çalışmalar sonucunda verimli bir staj süreci geçirdik.
                </p>
                <div class="testimonials__author h06">
                    ...... ......
                    <span>X Firması - Gömülü Yazılım Mühendisi</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                    Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
                </p>
                <div class="testimonials__author h06">
                    Satya Nadella
                    <span>CEO, Microsoft</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div> <!-- end s-testimonials -->